### GitHub ###
.git
.github

### IDE ###
.idea

### TorrentPier ###
*.integrity
.env
.php_cs.cache
docker-compose.override.yml
docker-compose.yml
composer.phar
internal_data/updater.json
library/config.local.php
vendor
