### IDE ###
.idea

### TorrentPier ###
.env
.php_cs.cache
composer.phar
configs/local.php
data/avatars
data/uploads
internal_data/atom
internal_data/cache
internal_data/log
internal_data/updater.ver
sitemap
internal_data/triggers
library/config.local.php
vendor
updater.php

### Archives ###
*.log
*.rar
*.tar
*.gz
*.zip
*.7z
*.torrent
*.pak

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.bat

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.orig
*.rej
