### IDE ###
.idea
.vscode

### Claude ###
CLAUDE.local.md

### TorrentPier ###
*.log
install.php_*
composer-setup.php
.env
.php-cs-fixer.cache
data/avatars
data/uploads/*
!data/uploads/.keep
internal_data/atom
internal_data/cache
internal_data/log
internal_data/updater.json
sitemap
internal_data/triggers
library/config.local.php
vendor
# Exclude all translations except source
# Translations are now managed via Composer
library/language/*
!library/language/source/

### Archives ###
*.phar
*.rar
*.tar
*.gz
*.zip
*.7z
*.torrent
*.pak

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.bat

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
*.orig
*.rej

docker-compose.local.yml

# Docusaurus
/docs/.docusaurus
/docs/.cache-loader
/docs/build
/docs/node_modules
