* text=auto eol=lf

*.css diff=css
*.tpl diff=html
*.twig diff=html
*.md diff=markdown
*.php diff=php
*.js diff=js
*.json diff=json

/.github export-ignore
/docs export-ignore
/tests export-ignore
.cliffignore export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
phpunit.xml export-ignore
