### TorrentPier ###
.idea
.php_cs.cache
bower_components
composer.phar
composer.lock
configs/local.php
data/avatars
data/torrent_files
internal_data/ajax_html
internal_data/atom
internal_data/cache
internal_data/log
internal_data/sitemap
internal_data/triggers
library/config.local.php
node_modules
vendor
yarn.lock

### Archives ###
*.log
*.zip
*.rar
*.tar
*.gz
*.torrent

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.orig
*.rej
