<plugin>
  <!-- Meta information -->
  <meta>
    <name>Plugin name</name>
    <author>belomaxorka</author>
    <version>v1.0.0</version>
    <homepage>https://example.com</homepage>
    <compatibility>v2.4.5</compatibility>
  </meta>
  <!-- Steps -->
  <steps>
    <action open="library/includes/page_header.php">
      <find>
        <code>'USE_TABLESORTER' => !empty($page_cfg['use_tablesorter']),</code>
      </find>
      <position type="after">
        <code>
          'ALLOW_ROBOTS' => !$bb_cfg['board_disable'] && (!isset($page_cfg['allow_robots']) || $page_cfg['allow_robots'] === true),
        </code>
      </position>
    </action>
  </steps>
</plugin>
