<div id="infobox-body">
	<h2 class="bold">Advertising on our site</h2>
	<p>For advertising please contact: <strong><a href="mailto:{{ config('mail.addresses.advert') }}" class="gen">{{ config('mail.addresses.advert') }}</a></strong></p>
</div>
