<div id="infobox-body">

<p><h1>INFORMATION FOR COPYRIGHT HOLDERS</h1></p>

<p>If you are the copyright holder of any material linked on this site and do not wish for this information to be distributed by users without your consent, we will gladly assist you by removing the relevant links.</p>

<p>To do so, please send us an electronic letter containing the following information:</p>

<p>1. Documentary proof of your rights to the copyrighted material:</p>
<p> — a scanned document bearing an official seal, or</p>
<p> — an email sent from the official domain of the rights-holding company, or</p>
<p> — other contact information that uniquely identifies you as the rights holder.</p>

<p>2. The replacement text you would like posted in place of the removed content.</p>

<p>In this text, you may specify where and under what conditions users can obtain the information whose links have been removed, as well as your contact details so that users can reach you regarding this material.</p>

<p>3. Direct links to pages containing references to the data that must be removed.</p>

<p>Links should be in the format <strong>https://url.to/link</strong> or similar.</p>

<p>Within 48 hours of receiving your request, we will remove the relevant links from the site.</p>

<p class="bold">Our email: <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>WARNING!</p>

<p>a) We reserve the right to publish on the site any information sent to us at <strong><a href="mailto:{{ config('mail.addresses.abuse') }}" class="gen">{{ config('mail.addresses.abuse') }}</a></strong></p>

<p>b) We have no control over the actions of users who may re-post links to information that is the subject of your copyright. All information on the forum is posted automatically, without prior review or moderation, in accordance with generally accepted international practices for hosting information on the Internet. Nevertheless, we will consider all requests regarding links to information that infringes upon your rights.</p>

<p>c) Under applicable copyright and related rights law, a hyperlink to data (an informational reference) is not, by itself, subject to copyright protection (although it may violate the site's User Agreement). Therefore, please refrain from sending letters containing threats or demands, as there are no legal grounds for such claims.</p>

</div>
