<div>
	<h3>BitTorrent clients</h3>
	<ul>
		<li><a target="_blank" rel="nofollow" href="https://www.qbittorrent.org/" class="med"><b>qBittorrent</b></a></li>
		<li><a target="_blank" rel="nofollow" href="https://www.biglybt.com/" class="med"><b>BiglyBT</b></a></li>
		<li><a target="_blank" rel="nofollow" href="https://deluge-torrent.org/" class="med"><b>Deluge</b></a></li>
		<li><a target="_blank" rel="nofollow" href="https://transmissionbt.com/" class="med"><b>Transmission</b></a></li>
	</ul>
</div>

<div>
	<h3>FAQ</h3>
	<ul class="med">
		<li><a href="info?show=user_agreement" class="med" onclick="window.open(this.href, '', IWP); return false;"><b>Terms of usage</b></a></li>
		<li><a href="https://torrentpier.com/threads/260" class="med">FAQ for beginners</a></li>
		<li><a href="https://torrentpier.com/forums/10" class="med">Where to ask a question?</a></li>
	</ul>
</div>

<br />

<img width="210" class="spacer" src="./assets/images/spacer.gif" alt="" />
