<div id="infobox-body">

<p>

<p><h1>USER AGREEMENT</h1></p>

<p><h3>ABOUT THE SITE</h3></p>

<p>This internet resource/website (hereinafter referred to as the "Resource") is a website that allows users to share information with each other via BitTorrent, as well as in other forms, and provides a means to verify the integrity of transmitted information (via hash files).</p>

<ol>

<li type="1"><h3>ABOUT THIS USER AGREEMENT</h3>

<p>This User Agreement (hereinafter referred to as the "Agreement") shall enter into force upon clicking "I agree" at the bottom and shall remain in effect for the entire duration of the User's use of the Resource. The Agreement may be amended by the Administration without prior notice. The new version of the Agreement enters into force 3 (three) days after it is published, unless otherwise specified in the new version of the Agreement.</p>

<li><h3>LIMITATIONS OF LIABILITY</h3>

<p>The User expressly agrees to use the Resource at their own risk.</p>

<p>The User acknowledges and agrees that the Resource deals with materials and data created by third parties and hosted by them on the Internet using their own computers and/or servers. The content and security of these materials cannot be controlled by the Resource Administration; therefore, the Administration shall not be liable:</p>
<ul>
<p>- for the content of materials obtained by the User through the Resource, including any possible inconsistency with applicable laws or any offensive nature thereof;</p>
<p>- for the consequences of applying, using, or failing to use the information obtained;</p>
<p>- for any discrepancy between the results obtained through the Resource and the User's expectations;</p>
<p>- for any damage to the User's hardware or software resulting from the use of the Resource;</p>
<p>- for any inability to use the Resource for any reason;</p>
<p>- for the consequences that may arise from the distribution of illegal or unlicensed software, audio/video content, or other materials or data that infringe upon the rights of third parties.</p>
</ul>

<p>Under no circumstances shall the Resource be liable to the User or any third party for any damages, losses, or expenses arising in connection with the Resource, its use, or the inability to use it, including lost profits.</p>

<p>The Resource Administration is under no obligation to ensure the confidentiality of information provided by its Users, while taking all reasonable measures to do so, unless a separate agreement exists or applicable legislation requires otherwise.</p>

<p>The duties of the Resource do not include monitoring the legality of transmitted information (including, but not limited to, information transmitted between users via BitTorrent, internal messages in any form, text, or files), nor the determination of intellectual property rights or the legitimacy of transmitting or receiving such information.</p>

<li><h3>RESTRICTIONS ON USER'S USE OF THE RESOURCE</h3>

<p>When using this Resource, the User shall not, and agrees not to:</p>
<ul>
<p>- upload hash files (torrents) containing data with viruses or other malicious software, files or programs designed to disrupt, destroy, or limit the functionality of any computer or telecommunications equipment, programs for unauthorized access, serial numbers for commercial software or tools for generating them, logins, passwords, or other means of gaining unauthorized access to internet resources, as well as post links to the above;</p>
<p>- upload hash files (torrents) containing any messages, data, or programs whose use infringes any patent, trademark, trade secret, copyright, or other proprietary rights and/or related rights of third parties;</p>
<p>- send unauthorized advertising messages (junk mail, spam) to email addresses listed on the site;</p>
<p>- copy and use for commercial purposes any information obtained through the Resource that violates the rights of others or could cause them direct material or moral harm;</p>
<p>- post links to web resources whose content violates applicable legislation;</p>
<p>- impersonate any person or representative of an organization and/or community without proper authorization, including employees of the Administration or the owner of the Resource.</p>
</ul>

<li><h3>DISCLAIMER OF WARRANTIES</h3>

<p>Access to the Resource is provided on an "as is" basis without warranties of any kind, whether express or implied.</p>

<p>In particular, the Resource Administration does not guarantee the functionality of the site or its individual sections, nor the operability and reliability of links posted by its Users.</p>

<p>The Resource is not responsible for any direct or indirect losses resulting from: the use of or inability to use the service; or unauthorized access to your communications.</p>

<li><h3>RIGHTS OF THE RESOURCE ADMINISTRATION</h3>

<p>The Resource Administration has the right to deny access to the Resource to any User or group of Users without explanation or prior notice.</p>

<p>The Resource Administration may modify or delete any information, hash files (torrents), graphics, audio, and other data submitted by Users without prior notice or explanation.</p>

<li><h3>RESPONSIBILITIES OF THE PARTIES</h3>

<p>The User agrees that all disputes arising from this Agreement shall be resolved in accordance with applicable law.</p>

<p>The User agrees that consumer protection laws and regulations shall not apply to the use of this Resource, as it does not provide paid services.</p>

<p>The Resource does not establish agency, partnership, joint venture, employment, or any other relationships not expressly described in this Agreement.</p>

<p>Failure by the Resource to act in response to a breach of this Agreement by a User or group of Users does not constitute approval of or assistance in such actions.</p>

<p>Failure by the Resource to act in response to a breach of this Agreement by a User or group of Users does not deprive the Resource of the right to take appropriate action to protect its interests at a later time.</p>

<li><h3>ACCEPTANCE OF THE USER AGREEMENT</h3>

<p>IF YOU DO NOT AGREE TO ALL OF THE ABOVE TERMS AND CONDITIONS, YOU MAY NOT ACCESS THE RESOURCE IN WHOLE OR IN PART, EXCEPT FOR THIS USER AGREEMENT PAGE, NOR RECEIVE AND/OR ACCESS THE CONTENTS OF THIS RESOURCE BY ANY OTHER MEANS, IN WHOLE OR IN PART.</p>

<p>IF YOU DO NOT AGREE WITH THIS USER AGREEMENT, YOU MUST LEAVE THE RESOURCE IMMEDIATELY.</p>

</ol>
</p>

</div>
