<table class="forumline">
    <tr>
        <th>{{ __('TERMS') }}</th>
    </tr>
    {% if TERMS_HTML %}
    <tr>
        <td class="row1">
            <div class="post_wrap">
                {{ TERMS_HTML|raw }}
            </div>
        </td>
    </tr>
    {% endif %}
    {% if IS_ADMIN %}
    <tr>
        <td class="row1">
            {{ TERMS_EDIT|raw }}
        </td>
    </tr>
    {% endif %}
</table>