<table class="forumline">
<tr>
	<th>Правила оформления</th>
</tr>
<tr>
	<td class="row1">

<div class="w95 bCenter">

<h4 class="tCenter mrg_14">Перед тем, как начинать оформление раздачи, вы должны обязательно ознакомиться со следующими темами:</h4>

<table class="borderless bCenter" cellspacing="6"><tr><td>
	<a class="gen" href="viewtopic.php?t=48682"><b>
		Является ли ваш релиз повтором
	</b></a>
</td></tr><tr><td>
	<a class="gen" href="viewtopic.php?t=48686"><b>
		Как получить информацию по видео файлу
	</b></a>
</td></tr><tr><td>
	<a class="gen" href="viewtopic.php?t=48687"><b>
		Как сделать скриншот с фильма
	</b></a>
</td></tr><tr><td>
	<a class="gen" href="viewtopic.php?t=48692"><b>
		Как залить скриншот на бесплатный хост
	</b></a>
</td></tr><tr><td>
	<a class="gen" href="viewtopic.php?t=48654"><b>
		Обозначение качества видео
	</b></a>
</td></tr><tr><td>
	<a class="gen" href="viewtopic.php?p=183228#183228"><b>
		Как подписывать торрент файлы
	</b></a>
</td></tr><tr><td>
	<a class="gen" href="viewtopic.php?t=48655"><b>
		Как правильно писать на форуме
	</b></a>
</td></tr>
</table>

<h4 class="tCenter mrg_14">Правила оформления раздач в этом разделе:</h4>

<ul>

<li>
Если при оформлении раздачи фильма вы указываете русское название, оно должно соответствовать названию под которым фильм выходил на территории Российской Федерации. Буквальный перевод оригинального названия не приветствуется. В названии темы должно быть название фильма на <i>русском языке / на английском или на языке оригинала</i>.
</li>
<li>
В раздаче должен обязательно присутствовать постер.
</li>
<li>
Также вы должны заполнить все графы в бланке по оформлению раздачи - продолжительность, перевод, страна, год создания фильма, режиссёр, актёры (в ролях), для чего вы можете воспользоваться авторитетными сайтами о кинематографии, такими как -	<a href="http://us.imdb.com">IMdB</a> либо	<a href="http://www.videoguide.ru">VideoGuide</a>.
</li>
<li>
Обязательно должно присутствовать хотя бы краткое описание сюжета фильма.
</li>
<li>
В описании обязательно должно присутствовать обозначение качества раздающегося материала, формат, а также параметры аудио и видео потоков.
</li>
<li>
При сознательном введении в заблуждение пользователей форума относительно качества раздаваемого материала, раздающему будет сделано <i>предупреждение</i> с запретом на дальнейшее оформление раздач.
</li>
<li>
Сриншоты при качестве фильма ниже DVDRip выкладывать обязательно. На качество DVDRip раздающий обязан выложить скриншоты по первому требованию пользователей ресурса. Скриншот должен быть сделан непосредственно с того видео файла, который раздаётся!
</li>
<li>
В имени торрент-файла должно присутствовать русское название фильма, написанное на латинице. Далее, в скобках, должно быть указано имя трекера. Например: <b>Imja_Faila_[<?php echo $bb_cfg['sitename']?>].torrent</b> (если оригинальное название торрент-файла было <i>Имя Файла.torrent</i>). В названии торрент-файла и его содержимого, не должно присутствовать ссылок на другие ресурсы.
</li>
<li>
Если вы имеете принадлежность к одной из релиз-групп, то разрешается указывать в теме название вашей релиз-группы, но только в виде текста либо графического файла, не содержащих прямых ссылок на другой ресурс, иначе это будет расцениваться как реклама и данная ссылка будет удалена. При желании вы можете указать название релиз-группы раздаваемого фильма, не принадлежа к ней, но также без ссылок на другой ресурс.
</li>
<li>
Если по различного рода объективным причинам, в какое-то время суток вы будете отсутствовать на раздаче длительное время, являясь единственным сидом на ней, вы должны указать это.
</li>
<li>
При несоблюдении вышеперечисленных правил, либо в случае отсутствия сида на раздаче по истечении 2 часов после оформления, раздача будет перенесена в	<a href="viewforum.php?f=19">Тестовый форум</a>, а раздающему будет сделано <i>предупреждение</i>. При наличии <i>трёх предупреждений</i>, аккаунт пользователя будет удалён без объяснения причины. Для проб используйте	<a href="viewforum.php?f=19">Тестовый форум</a>.
</li>
<li>
При скорости отдачи (Upload) менее 12 кб/с не разрешается сидировать более 1-ого файла одновременно (другие раздачи и закачки на этот момент должны быть завершены). При нарушении данного условия все ваши последующие одновременные раздачи будут закрываться. Начав раздачу, вы должны довести её до конца, пока не появится минимум 3-5 скачавших.
</li>
<li>
<b>Если вы по каким-либо причинам не смогли сделать что-либо из вышеперечисленного - оформлять раздачу напрямую в данном разделе	запрещено, для этого существует	<a href="viewforum.php?f=19">Тестовый форум</a>.</b>
</li>

</ul>
<!--
<h5 style="text-align: center;">Если это ваша первая раздача или же вы не уверены в правильности оформления, настоятельно рекомендуем вам использовать	<a href="viewtopic.php?t=37879&amp;single=1">Пошаговую инструкцию</a> -  название каждой графы в шаблоне является ссылкой на эту инструкцию. </h5>
-->
</div>

<br />

	</td>
</tr>
</table>

<br />
