<style type="text/css">
<!--
li {
	margin-top: 4px;
}
-->
</style>
<table class="forumline">
<tr>
	<th>Общие правила и положения</th>
</tr>
<tr>
	<td class="row1">

<div class="w95 bCenter">

<h1 class="tCenter mrg_14">Правила оформления раздач на трекере <a href="index.php"><?php echo $bb_cfg['sitename']?></a></h1>

<div>
	<ul>
		<li>
		Все создающие раздачу (выкладывающие файл для общедоступного скачивания) обязаны контролировать содержимое этой раздачи по качеству (к примеру, отсутствие звука в фильмах, неснятая защита в программах, неработоспособность программы и т.п.).
		</li>
		<li>
		Данная конференция ведется на русском языке. Для не имеющих возможности писать кириллицей в форум встроена виртуальная русская клавиатура и транслит, кроме того в интернете существует целый ряд <a href="http://www.translit.ru">подобных сервисов</a>. Модераторы и администрация оставляют за собой право редактировать или удалять сообщения, написанные латиницей, без предупреждения.
		</li>
		<li>
		Перед тем, как создавать раздачу, воспользуйтесь <a href="viewtopic.php?t=48682">поиском</a> - возможно такая раздача уже существует.
		</li>
	</ul>
</div>

<h2 class="tCenter mrg_8">Всем участникам раздач на данном трекере запрещается:</h2>

<div>
 <ul>
 	<li>Создавать раздачу, дублирующую то, что уже существует на трекере. Дублирующей считается не отличающаяся ни по содержанию, ни по качеству информация.</li>
 	<li>Создавать раздачу, содержание которой нарушает общественные нормы морали, различные Базы Данных, отсутствующие в свободном законном доступе и т.п.</li>
 	<li>Выкладывать для общедоступного скачивания более двадцати раздач одновременно или по совокупности (исключение делается для пользователей с очень широким каналом, по личному разрешению Администрации). Пользователи, раздающие больше 20 раздач, будут предупреждаться. Если предупреждения не приведут к должному результату, то часть Ваших раздач будет приостановлена (а возможно, и удалена).</li>
 	</ul>
</div>

<h6 class="tCenter mrg_8 bCenter w85">Решение по соответствию раздачи данным требованиям принимает <a href="groupcp.php?g=39731"><b>Модератор</b></a> или <b><a href="groupcp.php?g=88208">Администратор</a></b>. В их полномочиях редактировать, перемещать, закрывать или удалять раздачу.</h6>

</div>

	</td>
</tr>
</table>

<br />