## set default server charset
AddDefaultCharset UTF-8

## folder listing access control
Options All -Indexes

## sitemap rewrite (via storage symlink)
RewriteEngine On
RewriteRule ^sitemap.xml$ storage/sitemap/sitemap.xml [L]

## front controller - route all non-file requests through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

## deny access to git folder
RedirectMatch 404 /\\.git(/|$)

## deny access to hidden files
<FilesMatch "^\.">
Require all denied
</FilesMatch>
