# Example Caddy configuration for TorrentPier
# Used by default for Docker

{$TP_HOST} { # Set your host manually if you are not using Docker
    root * /app # Set your web root manually if you are not using Docker
    encode gzip zstd
    php_fastcgi unix//run/php/php-fpm.sock
    try_files {path} {path}/ /index.php?{query}
    file_server

    @blocked {
        path /install/* /internal_data/* /library/*
        path /.ht* /.en*
        path /.git/*
        path *.sql *.tpl *.db *.inc *.log *.md
    }
    respond @blocked 404

    redir /sitemap.xml /sitemap/sitemap.xml

    @html_css_js {
        path *.html *.css *.js *.json *.xml *.txt
    }
    header @html_css_js Content-Type "{mime}; charset=utf-8"
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
