### IDE ###
.idea
.vscode

### TorrentPier ###
*.log
install.php_*
composer-setup.php
.env
.php_cs.cache
data/avatars
data/uploads
internal_data/atom
internal_data/cache
internal_data/log
internal_data/updater.json
sitemap
internal_data/triggers
library/config.local.php
vendor

### Archives ###
*.phar
*.rar
*.tar
*.gz
*.zip
*.7z
*.torrent
*.pak

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.bat

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.orig
*.rej
